<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1> <%= gravatar_for @user %>
			<%= @user.name %> </h1>
			<%= pluralize(@user.userposts.count, "article") %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'follow_form' if signed_in? %>
		</section>
	</aside>
	<div class="span8">
		<div class="span10">
			<h3>Shared News (<%= @user.microposts.count %>)</h3>
			<%= render 'shared/wall' if signed_in? %>
		</div>
	</div>
</div>